<style>
    .max-length {
      max-width: 250px; /* Adjust as needed */
      margin: 0 auto; /* Centering the text block if desired */
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    table, th, td {
      border: 1px solid black;
    }
  
    td {
      padding: 10px; /* Adds padding inside the cells */
    }
  </style>

<tr id = "{{key}}">
    <td id = "rank_td">
        <p id = "rank_chapter">{{ cur_row.chapter }}/{{ cur_row.rank }}</p>
    </td>
    <td id = "audio_td">
        <audio id = "audio_player" controls>
            <source src="{{ cur_row.audio_url }}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
    </td>
    <td id = "speech_td">
        <p id = "original_speech" class = 'max-length'>{{cur_row.speech}}</p>
        <h4>_______________________________________________</h4>
        <p id ="asrd_speech" class = 'max-length'>{{cur_row.asr_speech}}</p>
        <h4 id ="wer_value">WER = {{cur_row.wer}}</h4>
    </td>
    <td id = "time_td">
        <p id = "time_value"> {{cur_row.time}} </p>
    </td>
    <td id = "speaker_td">
        <p id = "speaker_name"> {{cur_row.speaker}}</p>
    </td>
    <td id = "regenerate_td">
        <button id="regenerate_button_{{key}}" type="submit">Regenerate</button>
    </td>
    <td>
        <input type="checkbox" id="delete_button" name="delete">
    </td>

</tr>



<script>
    document.getElementById("regenerate_button_{{ key|escapejs }}").addEventListener("click", function () {
        this.disabled = true;
        endpoint = "api/regenerate/";
        const row =  document.getElementById("{{ key|escapejs }}")
        const _id_ = "{{ key|escapejs }}"
        const data = {
            _ids_ : _id_
        };
        fetch(endpoint, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },

            body: JSON.stringify({ data }),
        })
            .then((response) => response.json())
            .then((data) => {
                row_data = data["{{ key|escapejs }}"]
                row.querySelector('audio#audio_player').src = row_data.audio_url + "?cb=" + new Date().getTime();
                row.querySelector('audio#audio_player').load();
                row.querySelector('p#original_speech.max-length').textContent = row_data.speech
                row.querySelector('p#asrd_speech.max-length').textContent = row_data.asr_speech
                row.querySelector('h4#wer_value').textContent =`WER = ${row_data.wer}`
                row.querySelector('p#time_value').textContent = row_data.time
                row.style.backgroundColor = "#FFD700";
                this.disabled = false;
            })
            .catch((error) => {
                console.log("Error:", error);
            });
    });

</script>
